.MoviePoster {
    width: 15%;
    margin: 20px;
    margin-bottom: 0%;
    text-align: center;
}
  
.MoviePoster img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.MoviePoster h2 {
    font-size: 0.5rem;
    color: #444;
}

.VoteBox {
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    margin-top: -4px;
    display: flex;
    justify-content: center;
}

.VoteBox p {
    margin: 1.8px;
    font-size: 0.65em;
    font-weight: 600;
    color: rgb(6, 6, 6);
    text-align: center;
}

.VoteBox img {
    margin-top: -5px;
    padding-top: 7px;
    height: 15px;
    width: 15px;
}