* {
  margin: 0;
  padding: 0;
}

body {
  /* changed because, well tomatillos.... */
  background-color: #a6c677;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

h1 {
  color: white;
  font-size: 45px;
  letter-spacing: 5px;
}

p {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  color: white;
}

.HomeButton {
  background-color: transparent;
  border-color: transparent;
}

.HomeButton img {
  width: 40px;
  height: 40px;
  color: white;
}